# Backend dependencies
fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
pydantic==2.11.3

# Data
pandas
numpy
rich
python-dotenv
sentence-transformers
google-genai
pyarrow
fastparquet
nltk

# Testing
pytest
httpx
pinecone>=9.0.0
